@import "./signupandlogin.module.css";
@import "./dashboard.module.css";
@import "./homepage.module.css";
@import "./navbar.module.css";
@import "./sidebar.module.css";
@import "./insights.module.css";
@import "./offers.module.css";
@import "./storeinfo.module.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-toastify/dist/ReactToastify.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.sidebyside{
  display: flex;
}

.pinkbutton{
  background-color:  #DE0C55;
  color: white;
  border-color: #DE0C55;
  padding-right: 4rem;
  padding-left: 4rem;

}

.logoutbuttonsidebar{
  background-color:  #DE0C55;
  color: white;
  border-color: #DE0C55;
  margin: 8px;
}






















