.navbardiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: auto;
    justify-content: center;
    /* border-bottom:1px solid  */
    box-shadow: 1px 2px 5px rgb(240, 235, 235);
}

.navbarleft{
    display: flex;
    position: relative;
    right: 15%;
}

.navbarcenter{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbarcentersearch{
    padding-left:5rem;
    padding-right:5rem;

}

.navbarcentersearchbutton{
    background-color:  #DE0C55;
    color: white;
    border-color: #DE0C55;
}

.navbarright{
display: flex;
align-items: center;
gap: 2rem;
position: relative;
left: 15%;
}